<footer class="footer">
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-col footer-copywright">
        <h3>Designed and Developed by Vijeta Mishra</h3>
      </div>
      <div class="footer-col footer-copywright">
        <h3>Copyright © {{ currentYear }} Vijeta Mishra</h3>
      </div>
      <div class="footer-col footer-body">
        <ul class="footer-icons">
          <li class="social-icons">
            <a href="https://github.com/imvijeta8709" target="_blank" rel="noopener noreferrer">
              <mat-icon>code</mat-icon>
            </a>
          </li>
          <!-- <li class="social-icons">
            <a href="https://twitter.com/Soumyajit4419" target="_blank" rel="noopener noreferrer">
              <mat-icon>chat</mat-icon>
            </a>
          </li> -->
          <li class="social-icons">
            <a href="https://www.linkedin.com/in/vijeta-mishra-ab0270221/" target="_blank" rel="noopener noreferrer">
              <mat-icon>work</mat-icon>
            </a>
          </li>
          <!-- <li class="social-icons">
            <a href="https://www.instagram.com/soumyajit4419" target="_blank" rel="noopener noreferrer">
              <mat-icon>photo_camera</mat-icon>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
