<section>
  <div class="home-section" id="home">
    <div class="home-content">
      <div class="home-row">
        <div class="home-header">
          <h1 class="heading">
            Hi There! 
            <span class="wave" role="img" aria-label="wave">👋🏻</span>
          </h1>

          <h1 class="heading-name">
            I'M
            <strong class="main-name"> Vijeta Mishra</strong>
          </h1>

          <div class="typewriter-container">
            <span class="typewriter-text">{{ currentText }}</span>
            <span class="typewriter-cursor">|</span>
          </div>
        </div>

        <div class="home-image">
          <img src="assets/home-main.svg" alt="home pic" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>

  <div class="home-about-section" id="about">
    <div class="home-about-container">
      <div class="home-about-row">
        <div class="home-about-description">
          <h1>
            LET ME <span class="purple">INTRODUCE</span> MYSELF
          </h1>
         <p class="home-about-body">
  I'm an <b class="purple">MEAN Stack Developer</b> with experience in building 
  modern and scalable web applications.
  <br /><br />
  I work with technologies like
  <i>
    <b class="purple">
      Express.js, Angular, and Node.js
    </b>
  </i>
  to create efficient and high-performance applications.
  <br /><br />
  I enjoy developing
  <i>
    <b class="purple">
      Full-Stack Web Applications
    </b>
  </i>
  and working on APIs, databases, and interactive front-end interfaces.
  <br /><br />
  I have worked on projects involving
  <i>
    <b class="purple">
      Real-Time Data, Dashboards, and Web Applications
    </b>
  </i>
  to deliver reliable and scalable solutions.
  <br /><br />
  I am always interested in learning new technologies and improving my
  development skills to build better and more efficient software solutions.
</p>
        </div>
        <div class="myAvtar">
          <img src="assets/avatar.svg" class="img-fluid" alt="avatar" />
        </div>
      </div>
    </div>
  </div>

  <div class="home-social-container">
    <div class="home-about-social">
      <h1>Find Me On</h1>
      <p>
        Feel free to <span class="purple">connect</span> with me
      </p>
      <ul class="home-about-social-links">
        <li class="social-icons">
          <a href="https://github.com/imvijeta8709" target="_blank" rel="noreferrer" 
             class="icon-colour home-social-icons">
            <mat-icon>code</mat-icon>
          </a>
        </li>
        <!-- <li class="social-icons">
          <a href="https://twitter.com/Soumyajit4419" target="_blank" rel="noreferrer" 
             class="icon-colour home-social-icons">
            <mat-icon>chat</mat-icon>
          </a>
        </li> -->
        <li class="social-icons">
          <a href="https://www.linkedin.com/in/vijeta-mishra-ab0270221/" target="_blank" rel="noreferrer" 
             class="icon-colour home-social-icons">
            <mat-icon>work</mat-icon>
          </a>
        </li>
        <!-- <li class="social-icons">
          <a href="https://www.instagram.com/soumyajit4419" target="_blank" rel="noreferrer" 
             class="icon-colour home-social-icons">
            <mat-icon>photo_camera</mat-icon>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</section>
